.report-wrapper{
	width: 100%;
	height: 100px;
	border: 1px solid black;
	background-color: #f8fdc2;
	background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
}

.report-title{
	font-size: 23px;
	text-align: center;
	font-weight: bold;
}

.m-t-5{
	margin-top: 5px;
}
.m-t-15{
	margin-top: 15px;
}
.container{
	width: 100%;
	margin-top: 10px;
}

#left{
	text-align: left;
	float:left;
	margin-left: 10px
}

#right{
	float:right;
	text-align:right;
	margin-right: 10px; width:33%;
}

#center{
	margin:0 auto;
	width:33%;
	text-align:center;
	font-weight:bold;
}

.report-table{
    border-collapse: collapse;
    text-align:center;
    padding: 3px;
    width: 100%;
    border-spacing: 10px;
}
.tbl_th
{
    font-weight: bold;
    border: 1px solid #515151;
    text-align:center;
    font-size: 16px;
    padding: 2px;
	background-color: #95a029;    
    color: white;
}

.tbl_td
{
    border: 1px solid #515151;
    font-size:13px;
    text-align:center;
    padding: 2px;

}

.page-break {
    page-break-after: always;
}